nav {
  background-color: #fff;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

  .menu-icon {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 2;

    button {
      background-color: transparent;
      border: none;
      margin: 1rem;
      padding: 0;

      i {
        align-items: center;
        display: flex;
        font-size: 2rem;
        justify-content: center;
      }
    }
  }

  .euro-trip {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
  }

  .mobile-links-inactive {
    display: none;
  }

  .mobile-links-active {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    a {
      margin: 1rem 1rem 1rem auto;
    }
  }

  .auth-btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin: 1rem;
    padding: 0;
  }
}
