.search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem 1rem;

  .search-bar {
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.369);
    padding: 0.5rem;
    width: 100%;
  }

  .search-results {
    z-index: -1;

    .search-result {
      margin: 1rem 0;
      position: relative;

      img {
        border-radius: 0.25rem;
        height: 15rem;
        object-fit: cover;
        width: 100%;
      }

      .overlay {
        background-color: rgba(0, 0, 0, 0.369);
        border-radius: 0.25rem;
        height: 15rem;
        position: absolute;
        top: 0;
        width: 100%;

        .overlay-content {
          bottom: 0;
          color: #fff;
          min-width: 288px;
          padding: 1rem;
          position: absolute;

          h2 {
            font-size: 1.2rem;
          }

          h3 {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
